<div class= card game-card">
  <%# <a href="/games/<%= game.slug %>
    <% if game.cover_art %>
      <div class="card-image game-card_cover-art">
        <img src="<%= game.cover_art.url %>" alt="<%= game.title %>cover art">
      </div>
    <% end %>

    <div class="card-header">
      <h3 class="card-title game-card_title"><%= game.title %></h3>
    </div>

    <div class="card-body">
      <div class="game-card_platforms">
        <%= erb :'partials/_add_or_delete_by_platform', locals: {game: game, platforms: game.platforms} %>
      </div>
    </div>
</div>