<h2>Account Information</h2>
<form action="/users/<%=current_user.slug %>/account/update_username" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Change Username</label>
  <input type="text" name="user[username]" value="<%= current_user.username%>">

  <input type="submit" value="Update Username">
</form>

<form action="/users/<%=current_user.slug %>/account/update_password" method="POST">
  <input type="hidden" name="_method" value="PATCH">

    <label>Change Password</label>
    <input type="password" name="user[password]">

  <input type="submit" value="Update Password">
</form>

<form action="/users/<%=current_user.slug %>/account" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Account">
</form>

<%= erb :'/partials/_flash' %>