<main>
  <div class="games">
    <% if @games.empty? %>

      <h2>Games will show up here once users start adding them to their libraries!</h2>

    <% else %>
      <ul>
        <% @games.each do |game| %>
          <li>
            <a href="<%= game.slug %>"><%= game.title %></a> (Owned By <%= game.total_owned_by_all_users_across_platforms %> Users) <%= "[You Own This]" if game.is_owned_by_user?(current_user) %>

            <% if !current_user.games.include?(game) %>
               <%= erb :'partials/_add_game_by_platform_choice_to_user_form', locals: {game: game} %>
            <% end %>
          </li>
        <% end %>
      </ul>

    <% end %>
  </div>
</main>