  <% if @game.custom %>
    <a href="/games/<%= @game.slug %>/edit" class="btn btn-edit">Edit Custom Game</a>
  <% end %>

  <div>
    <h2><%= @game.title %></h2>
  </div>

  <% if @game.cover_art %>
    <div>
      <img src="<%= @game.cover_art.url %>" alt="<%= @game.title%> cover art">
    </div>

    <br>
  <% end %>

  <div>
    <%= erb :'partials/_add_or_delete_by_platform', locals: {game: @game, platforms: @game.platforms } %>
  </div>

  <br>

  <% if @game.summary && !@game.summary.empty? %>
    <div>
      <h4>Summary:</h4>
      <p><%= @game.summary %></p>
    </div>
  <% end %>


